.cart__container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;

  max-width: 500px;
  width: 100%;
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: transform 0.3s;
  opacity: 0;
  pointer-events: none;
}

.cart__container.open {
  margin: 20px 10px 0 0;
  transform: translateX(0%);
  pointer-events: auto;
  opacity: 1;
  border-radius: 8px;
  z-index: 3000;
}

.cart__container_title {
  margin: 10px;
  font-family: "chelseaMarket", sans-serif;
}

.cart__container_description {
  margin: 10px;
  font-family: "chelseaMarket", sans-serif;
}

.list__item_container {
  width: 100%;
  display: inline-block;
}

.cart__container_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 5px;
}

.cart__container_list_item_img {
  width: 100px;
  height: 100px;
}

.cart__container_list_item_price {
  font-size: 22px;
  font-family: "chelseaMarket", sans-serif;
}

.cart__container_total {
  margin: 10px;
  font-family: "chelseaMarket", sans-serif;
}

.cart__container_checkout_button {
  display: block;
  width: 80%;
  height: 40px;
  margin: 0 auto 10px;
  border-radius: 5px;
  border: none;
  background: rgb(249, 99, 44);
  font-size: 16px;
  font-family: "chelseaMarket", sans-serif;
}

.cart__empty_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__container_empty_description {
  color: red;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.cart__container_products_button {
  padding: 5px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(249, 99, 44);
  color: white;
  font-weight: 700;
}

.cart__container_delete_button {
  border: none;
}

.cart__container_delete_button_img {
  width: 20px;
  height: 20px;
}

@media (max-width: 420px) {
  .cart__container {
    max-width: 350px;
    width: 100%;
  }
}
