.header__nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
  position: relative;
  max-width: 1400px;
  margin: 15px auto 5px;
}

.header__nav_bar_title {
  font-size: 30px;
  font-family: "chelseaMarket", sans-serif;
}

.header__signIn_btn {
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(249, 99, 44);
  width: 100px;
  height: 40px;
  margin-right: 10px;
  font-family: "chelseaMarket", sans-serif;
  transition: background-color 0.2s ease-in-out;
}

.header__signIn_btn:hover {
  cursor: pointer;
}

.header__signIn_btn--signed_out {
  background-color: rgb(26, 164, 104);
  font-size: 14px;
}

.header__cart_button {
  border: none;
  width: 40px;
  position: relative;
  margin-right: 12px;
}

.header__cart_button_counter {
  position: absolute;
  top: -8px;
  right: 15px;
  width: 3px;
  height: 5px;
  color: red;
  font-size: 10px;
}

.header__cart_button_img {
  width: 25px;
  height: 25px;
}

.header__nav_bar_button {
  border: none;
  width: 20px;
}
.header__nav_bar_thumbnail {
  width: 20px;
  height: 20px;
}

.header__links {
  display: flex;
  gap: 15px;
}

.header__link {
  font-size: 30px;
}

.header__link_active {
  font-size: 30px;
  color: red;
}
