#checkout__form {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  background: rgb(249, 99, 44);
  max-width: 700px;

  border-radius: 8px;
}

.checkout__form_title {
  font-size: 32px;
}

.checkout__form_input {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.checkout__form_input::placeholder {
  font-size: 18px;
}

.checkout__form_input:focus {
  outline: none;
}

.checkout__form_billing_text {
  font-size: 14px;
  color: black;
  font-weight: 700;
}

.checkout__form_radio_btn_label {
  margin-left: 5px;
}

#payment__Form {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.2);
  width: 85%;
  border-radius: 8px;
}

.payment__form_title {
  font-size: 22px;
}

.payment__form_input {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  height: 25px;
  padding-left: 10px;
}

.payment__form_input::placeholder {
  font-size: 14px;
}

.payment__form_input:focus {
  outline: none;
}

.checkoutForm__submit_btn {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: white;
  color: black;
  -webkit-text-fill-color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-in-out;
}

.checkoutForm__submit_btn--submitted {
  background-color: rgb(26, 164, 104);
  color: white;
  -webkit-text-fill-color: white;
}

.checkoutForm__error_message {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
