.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__form_heading {
  width: 80px;
  margin: 0 auto;
}

.subscribe__form_label {
  font-size: 8px;
  display: block;
  display: flex;
  justify-content: center;
}

.subscribe__form_input {
  width: 80%;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 8px;
  border: 1px solid rgb(249, 99, 44);
  border-radius: 8px;
  padding: 5px;
}

.subscribe__form_input:focus {
  border: 2px solid rgb(244, 93, 93);
  outline: none;
}

.subscribe__form_input--error::placeholder {
  color: rgb(244, 93, 93);
}

.subscribe__form_submit-btn {
  font-size: 12px;
  width: 60px;
  height: 25px;
  margin: 0 auto 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(249, 99, 44);
  color: white;
}

.subscribe__form_submit-btn:hover {
  cursor: pointer;
}

.subscribe__form_submit-btn--error {
  background-color: gray;
  pointer-events: none;
}
