.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__form_heading {
  max-width: 100px;
  margin: 0 auto;
  font-family: "chelseaMarket", sans-serif;
  font-size: 36px;
}

.subscribe__form_label {
  font-size: 18px;
  max-width: 100%;
  /* margin: 0 auto; */
}

.subscribe__form_input {
  width: 80%;
  height: 40px;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 8px;
  border: 1px solid rgb(249, 99, 44);
  border-radius: 8px;
  padding: 5px;
}

.subscribe__form_input::placeholder {
  display: flex;
  font-size: 18px;
}

.subscribe__form_input:focus {
  border: 2px solid rgb(244, 93, 93);
  outline: none;
  font-size: 18px;
}

.subscribe__form_input--error::placeholder {
  color: rgb(244, 93, 93);
}

.subscribe__form_submit-btn {
  font-size: 16px;
  width: 120px;
  height: 40px;
  margin: 0 auto 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(249, 99, 44);
  color: white;
  font-family: "chelseaMarket", sans-serif;
}

.subscribe__form_submit-btn:hover {
  cursor: pointer;
}

.subscribe__form_submit-btn--error {
  background-color: gray;
  pointer-events: none;
}
