.header__nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
  position: relative;
}

.header__nav_bar_title {
  font-size: 15px;
}

.header__nav_bar_button {
  border: none;
  width: 30px;
}
.header__nav_bar_thumbnail {
  width: 10px;
  height: 10px;
}

.header__links {
  display: flex;
  gap: 15px;
}

.header__link {
  font-size: 30px;
}

.header__link_active {
  font-size: 30px;
  color: red;
}
